/* цвет основного текста  #757575 */
/* вторичный цвет текста  #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* основной фон #FFFFFF */
/* вторичный фон #F5F4FA */
/* серый #2F303A */
/* контакты футера rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'roboto', 'sans serif';
}

ul,
p,
h1,
h2,
h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:active,
a:focus {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: solid 2px tomato; */
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* --------------------Header---------------------- */

.header-div {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.header {
  border-bottom: solid 1px rgba(236, 236, 236, 1);
}

.header-logo-web {
  color: var(--accent-color);
}

/* --------------------Site-nav---------------------- */

.site-nav {
  display: flex;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  position: relative;
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link.current::after {
  opacity: 1;
}

.site-nav-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.site-nav-link:hover::after,
.site-nav-link:focus::after {
  opacity: 1;
}

/* --------------------Contacts-nav---------------------- */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav-link:hover,
.contacts-nav-link:focus {
  color: var(--accent-color);
}

.contacts-nav-item + .contacts-nav-item {
  margin-left: 50px;
}

.contacts-nav-item:last-child {
  margin-right: 0;
}

.contacts-nav-link:hover .contacts-nav-icon {
  fill: var(--accent-color);
}

.contacts-nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* --------------------Main sections---------------------- */

/* --------------------Hero section---------------------- */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heroBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin: 0;
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* --------------------Features section---------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-item {
  min-width: 270px;
  min-height: 101px;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-icon-container + .features-icon-container {
  margin-left: 30px;
}

.features-icon {
  justify-content: center;
  align-items: center;
}

/* --------------------Works section---------------------- */

.works {
  padding-top: 0;
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.works-list {
  display: flex;
}

.works-item {
  position: relative;
}

.works-item + .works-item {
  margin-left: 30px;
}

.works-item-cont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* --------------------Team section---------------------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.team-item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.team-item-bgc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/* --------------------Clients section---------------------- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* --------------------Footer section---------------------- */

.footer {
  background-color: var(--primary-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-web {
  color: var(--accent-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:nth-child(3n) {
  margin-bottom: 0;
}

.footer-adress {
  font-style: normal;
  margin-top: 20px;
}

.footer-adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  flex-grow: 1;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.join {
  margin-left: 70px;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.join-list {
  display: flex;
  margin-top: 20px;
}

.join-item + .join-item {
  margin-left: 10px;
}

.join-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-soc-link:hover,
.join-soc-link:focus {
  background: var(--accent-color);
}

.join-icon {
  fill: var(--primary-white-color);
}

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 29px;
  margin-left: 12px;
  border: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-subscription-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
}

.subscription-icon {
  margin-left: 10px;
}

/* --------------------Portfolio---------------------- */
/* --------------------Filtres section---------------------- */

.filtres-btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filtres-btn-item + .filtres-btn-item {
  margin-left: 8px;
}

.filtres-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  height: 38px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-btn:hover,
.filtres-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtres-list {
  display: flex;
  flex-wrap: wrap;
}

.filtres-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.filtres-top-cont {
  position: relative;
  overflow: hidden;
}

.filtres-top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-item-link:hover .filtres-top-text,
.filtres-item-link:focus .filtres-top-text {
  transform: translateY(0);
}

.filtres-item-link:hover,
.filtres-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filtres-item:nth-child(3n) {
  margin-right: 0;
}

.filtres-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filtres-item-img {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0;
}

.filtres-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.filtres-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* --------------------Backdrop---------------------- */

.backdrop {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

/* --------------------Modal---------------------- */

.modal {
  padding: 40px;
  position: relative;
  width: 528px;
  min-height: 582px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  transition: transform 350ms;
  transform: scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form-list {
  margin-bottom: 20px;
}

.modal-input {
  padding: 0;
  padding-left: 42px;
  padding-right: 10px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-color);
}

.modal-icons {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.modal-input-comment {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-comment:focus,
.modal-input-comment:hover {
  border-color: var(--accent-color);
}

.modal-input-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-info-items + .modal-info-items {
  margin-top: 10px;
}

.modal-form-agreements {
  color: var(--accent-color);
  /* text-decoration-line: underline; */
}

.modal-submit-btn {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0px;
  border: 0;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-license-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-license-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.input-check:checked + .modal-license-text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/Check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
